body{
  font-family: helvetica;
}

p{
  font-size: 20px;
  color: rgb(169,169,169);
}

#main{
  color: rgb(168,155,133);
  font-weight: bold;
  font-size: 50px
}

#second{
  color: rgb(168,155,133);
  font-weight: bold;

}

#third{
  color: rgb(168,155,133);
  font-weight: bold;

}

#fourth{
  color: rgb(168,155,133);
  font-weight: bold;

}


hr{
  color: rgb(130,130,130);
  border:solid
}

.background{
  background-color: rgb(105,96,83)
}

.beginning{
  background-color: rgb(100,100,100);
  padding:20px
}

.middle{
  background-color: rgb(100,100,100);
  padding:20px
}

a{
  font-family: helvetica;
  font-size: 20px;
  font-weight: bold;
  color: 105,96,83
}
